variable "project_prefix" {
  type        = string
  description = "prefix string put in front of string"
  default     = "f5xc"
}

variable "project_suffix" {
  type        = string
  description = "prefix string put at the end of string"
  default     = "01"
}

variable "f5xc_api_p12_file" {
  type    = string
}

variable "f5xc_api_url" {
  type    = string
}

variable "f5xc_tenant" {
  type    = string
}

provider "volterra" {
  api_p12_file = var.f5xc_api_p12_file
  url          = var.f5xc_api_url
  alias        = "default"
}

module "origin_pool_private_ip_site" {
  source                                             = "./modules/f5xc/origin-pool"
  f5xc_tenant                                        = var.f5xc_tenant
  f5xc_namespace                                     = "system"
  f5xc_origin_pool_name                              = format("%s-pool-private-ip-site-%s", var.project_prefix, var.project_suffix)
  f5xc_origin_pool_port                              = "443"
  f5xc_origin_pool_private_ip                        = "10.15.250.100"
  f5xc_origin_pool_private_ip_site_locator_site_name = "refMySite"
  f5xc_origin_pool_private_ip_inside_network         = false
  f5xc_origin_pool_private_ip_outside_network        = true
  f5xc_origin_pool_labels                            = {
    Label1 = "value1"
  }
  providers = {
    volterra = volterra.default
  }
}

module "origin_pool_private_ip_virtual_site" {
  source                                                     = "./modules/f5xc/origin-pool"
  f5xc_tenant                                                = var.f5xc_tenant
  f5xc_api_url                                               = var.f5xc_api_url
  f5xc_api_p12_file                                          = var.f5xc_api_p12_file
  f5xc_namespace                                             = "system"
  f5xc_origin_pool_name                                      = format("%s-pool-private-ip-virtual-site-%s", var.project_prefix, var.project_suffix)
  f5xc_origin_pool_port                                      = "443"
  f5xc_origin_pool_private_ip                                = "10.15.250.100"
  f5xc_origin_pool_private_ip_site_locator_virtual_site_name = "refMySite"
  f5xc_origin_pool_private_ip_inside_network                 = false
  f5xc_origin_pool_private_ip_outside_network                = true
  f5xc_origin_pool_labels                                    = {
    Label1 = "value1"
  }
  providers = {
    volterra = volterra.default
  }
}

module "origin_pool_public_ip" {
  source                     = "./modules/f5xc/origin-pool"
  f5xc_tenant                = var.f5xc_tenant
  f5xc_api_url               = var.f5xc_api_url
  f5xc_api_p12_file          = var.f5xc_api_p12_file
  f5xc_namespace             = "system"
  f5xc_origin_pool_name      = format("%s-pool-public-ip-%s", var.project_prefix, var.project_suffix)
  f5xc_origin_pool_port      = "443"
  f5xc_origin_pool_public_ip = "8.8.8.8"
  f5xc_origin_pool_labels    = {
    Label1 = "value1"
  }
  f5xc_origin_pool_loadbalancer_algorithm = "LEAST_REQUEST"
  providers = {
    volterra = volterra.default
  }
}

module "origin_pool_public_name" {
  source                            = "./modules/f5xc/origin-pool"
  f5xc_tenant                       = var.f5xc_tenant
  f5xc_api_url                      = var.f5xc_api_url
  f5xc_api_p12_file                 = var.f5xc_api_p12_file
  f5xc_namespace                    = "system"
  f5xc_origin_pool_name             = format("%s-pool-public-name-%s", var.project_prefix, var.project_suffix)
  f5xc_origin_pool_port             = "443"
  f5xc_origin_pool_public_name      = "test.example.net"
  f5xc_origin_pool_healthcheck_name = "myHealthCheck01"
  f5xc_origin_pool_labels           = {
    Label1 = "value1"
  }
  f5xc_origin_pool_loadbalancer_algorithm = "RING_HASH"
  providers = {
    volterra = volterra.default
  }
}

module "origin_pool_public_name_tls" {
  source                            = "./modules/f5xc/origin-pool"
  f5xc_tenant                       = var.f5xc_tenant
  f5xc_api_url                      = var.f5xc_api_url
  f5xc_api_p12_file                 = var.f5xc_api_p12_file
  f5xc_namespace                    = "system"
  f5xc_origin_pool_name             = format("%s-pool-public-name-%s", var.project_prefix, var.project_suffix)
  f5xc_origin_pool_port             = "443"
  f5xc_origin_pool_public_name      = "test.example.net"
  f5xc_origin_pool_healthcheck_name = "myHealthCheck01"
  f5xc_origin_pool_labels           = {
    Label1 = "value1"
  }
  f5xc_origin_pool_loadbalancer_algorithm            = "RING_HASH"
  f5xc_origin_pool_no_tls                            = false
  f5xc_origin_pool_tls_disable_sni                   = false
  f5xc_origin_pool_tls_sni                           = "someSNI"
  f5xc_origin_pool_no_mtls                           = false
  f5xc_origin_pool_mtls_certificate_url              = "some_url"
  f5xc_origin_pool_mtls_certificate_description      = "my_mtls_config"
  f5xc_origin_pool_mtls_custom_hash_algorithms       = ["custom_hash_algo"]
  f5xc_origin_pool_mtls_private_key_clear_secret_url = "clearTextSecret"
  providers = {
    volterra = volterra.default
  }
}

module "origin_pool_vn_private_name" {
  source                                                  = "./modules/f5xc/origin-pool"
  f5xc_tenant                                             = var.f5xc_tenant
  f5xc_api_url                                            = var.f5xc_api_url
  f5xc_api_p12_file                                       = var.f5xc_api_p12_file
  f5xc_namespace                                          = "system"
  f5xc_origin_pool_name                                   = format("%s-pool-vn-private-name-%s", var.project_prefix, var.project_suffix)
  f5xc_origin_pool_port                                   = "443"
  f5xc_origin_pool_vn_private_dns_name                    = "some_dns_name"
  f5xc_origin_pool_vn_private_name_site_locator_site_name = "some_site_refs"
  f5xc_origin_pool_healthcheck_name                       = "myHealthCheck01"
  f5xc_origin_pool_labels                                 = {
    Label1 = "value1"
  }
  providers = {
    volterra = volterra.default
  }
}

module "origin_pool_k8s_service_site" {
  source                                              = "./modules/f5xc/origin-pool"
  f5xc_tenant                                         = var.f5xc_tenant
  f5xc_api_url                                        = var.f5xc_api_url
  f5xc_api_p12_file                                   = var.f5xc_api_p12_file
  f5xc_namespace                                      = "system"
  f5xc_origin_pool_name                               = format("%s-pool-k8s-service-site-%s", var.project_prefix, var.project_suffix)
  f5xc_origin_pool_port                               = "443"
  f5xc_origin_pool_k8s_service_name                   = "some_k8s_service_name"
  f5xc_origin_pool_k8s_service_site_locator_site_name = "some_site_refs"
  f5xc_origin_pool_same_as_endpoint_port              = false
  f5xc_origin_pool_health_check_port                  = "8443"
  f5xc_origin_pool_labels                             = {
    Label1 = "value1"
  }
  providers = {
    volterra = volterra.default
  }
}

module "origin_pool_k8s_service_virtual_site" {
  source                                                      = "./modules/f5xc/origin-pool"
  f5xc_tenant                                                 = var.f5xc_tenant
  f5xc_api_url                                                = var.f5xc_api_url
  f5xc_api_p12_file                                           = var.f5xc_api_p12_file
  f5xc_namespace                                              = "system"
  f5xc_origin_pool_name                                       = format("%s-pool-k8s-service-virtual-site-%s", var.project_prefix, var.project_suffix)
  f5xc_origin_pool_port                                       = "443"
  f5xc_origin_pool_k8s_service_name                           = "some_k8s_service_name"
  f5xc_origin_pool_k8s_service_site_locator_virtual_site_name = "some_virtual_site_refs"
  f5xc_origin_pool_same_as_endpoint_port                      = false
  f5xc_origin_pool_health_check_port                          = "8443"
  f5xc_origin_pool_labels                                     = {
    Label1 = "value1"
  }
  providers = {
    volterra = volterra.default
  }
}

module "origin_pool_custom_endpoint_object" {
  source                                       = "./modules/f5xc/origin-pool"
  f5xc_tenant                                  = var.f5xc_tenant
  f5xc_api_url                                 = var.f5xc_api_url
  f5xc_api_p12_file                            = var.f5xc_api_p12_file
  f5xc_namespace                               = "system"
  f5xc_origin_pool_name                        = format("%s-pool-custom-endpoint-object-%s", var.project_prefix, var.project_suffix)
  f5xc_origin_pool_port                        = "443"
  f5xc_origin_pool_custom_endpoint_object_name = "some_endpoint_object_name"
  f5xc_origin_pool_labels                      = {
    Label1 = "value1"
  }
  providers = {
    volterra = volterra.default
  }
}